body{
    font-family: 'Amita', cursive;
    background-color: #dc5cff;
    color: #f5e4df;
}

h1,h2,h3,h4,h5,h6 {
   font-family: 'Oleo Script', cursive;
   text-align: center;
}
h1{
    font-size: 30pt;
}
h2{
    font-size: 22pt;
}
header {
    text-align: center;
}
#hero,footer{
    color:rgb(255, 202, 34);
    border: 2px solid #ffca22;
    background-color: #9ebdf0;
    text-align: center;
    padding: 10px;
}
#hero img{ 
    
    width: 300px;
}
#bio{
    text-align: center;
}


#hobbies ul {
    width:200px;
    margin-left:auto;
    margin-right:auto;
}
#hobbies ul li:nth-child(even){
color: #47ff9a;

}
#hobbies ul li:nth-child(odd){
    color:#ffca22;
   
}

 